.App {
  background-color: #333;
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-areas:
    "header"
    "main"
    "nav";
}

.header {
  color: lightgray;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.main {
  color: lightgray;
  grid-area: main;
}

.main-nav {
  color: lightgray;
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.split-main {
  color: lightgray;
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: 1fr;
  grid-template-areas: "side content";
}

a {
  color: lightgray !important;
  text-decoration: none !important;
}

a:hover {
  opacity: 0.8;
  text-decoration: none !important;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

button,
select {
  text-transform: none;
  outline: none;
  border: none;
}

button:hover {
  opacity: 0.8;
  background-color: transparent;
  outline: none;
}
