.single-article-card {
  background-color: rgba(211, 211, 211, 0.1);
  text-align: left;
  padding: 1%;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 1%;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr auto 1fr;
  grid-template-areas:
    "author .  time"
    "title  title title"
    "body body  body"
    "comment-vote  .  votes";
}

.article-card-time {
  background-color: rgba(211, 211, 211, 0.1);
  text-align: left;
  padding: 1%;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 5%;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1.5fr 4fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "time   delete  votes";
}

.article-time {
  grid-area: time;
  margin: 0;
  padding-top: 2%;
}
.article-delete {
  grid-area: time;
  align-self: start;
  justify-self: right;
  padding: 0;
  margin-bottom: 5%;
  margin-top: 0;
}
.article-votes {
  grid-area: votes;
}

.article-author {
  grid-area: author;
  align-self: start;
  margin-bottom: 5%;
  margin-top: 0;
}

.article-comments {
  grid-area: votes;
  align-self: end;
  justify-self: right;
  padding: 0;
  margin-bottom: 0%;
  margin-top: 5%;
  margin-right: 4%;
}

.time {
  grid-area: time;
  text-align: right;
  align-self: start;
  margin-bottom: 5%;
}

.article-title {
  grid-area: title;
  align-self: center;
  margin: 2%;
}

.body {
  grid-area: body;
  align-self: center;
  margin: 2%;
}

.topic {
  grid-area: topic;
  align-self: start;
  margin-bottom: 5%;
}

.comment-vote {
  grid-area: comment-vote;
  justify-self: right;
  align-self: end;
  margin-top: 5%;
  margin-bottom: 0;
}

.votes {
  grid-area: votes;
  justify-self: right;
  align-self: end;
  margin-top: 5%;
  margin-bottom: 0;
}
