.comment-card {
  background-color: rgba(211, 211, 211, 0.1);
  text-align: left;
  padding: 1%;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas:
    "author .  time"
    "body body  body"
    "voting  .  comment-vote";
}

.comment-card-time {
  background-color: rgba(211, 211, 211, 0.1);
  text-align: left;
  padding: 1%;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 5%;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1.5fr 4fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "time   delete  votes";
}

.comment-time {
  grid-area: time;
  margin: 0;
  padding-top: 2%;
}
.comment-delete {
  grid-area: time;
  align-self: start;
  justify-self: right;
  padding: 0;
  margin-bottom: 5%;
  margin-top: 0;
}
.comment-votes {
  grid-area: votes;
}

.comment-author {
  grid-area: author;
  align-self: start;
  margin-bottom: 5%;
  margin-top: 0;
}

.time {
  grid-area: time;
  text-align: right;
  align-self: start;
  margin-bottom: 5%;
}

.body {
  grid-area: body;
  align-self: center;
  margin: 2%;
}

.topic {
  grid-area: topic;
  align-self: start;
  margin-bottom: 5%;
}

.comments {
  grid-area: comment-vote;
  text-align: left;
  align-self: end;
  padding-left: 18%;
  margin-top: 5%;
  margin-bottom: 0;
}

.votes {
  grid-area: comment-vote;
  text-align: right;
  align-self: end;
  margin-top: 5%;
  margin-bottom: 0;
}

.voting {
  grid-area: voting;
  justify-self: left;
  margin-left: 2%;
  align-self: end;
  margin-top: 5%;
  margin-bottom: 0;
}
